.todoCard {
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px 2px #424242;
  box-shadow: 1px 1px 3px 2px #424242;
  margin-bottom: 20px;
  ul {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: start;
    margin: 0px;
    li {
      display: flex;
    }

    .name {
      font-weight: bold;
      width: 100%;
      border-bottom: 1px solid #aaa;
    }
    .owner {
      font-style: italic;
    }

    .description {
      background: #eee;
      border-radius: 5px;
      width: 100%;
      padding: 2%;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow-wrap: anywhere;
    }
    .card-footer {
      width: 100%;
      display: flex;
      .completed,
      .select {
        font-size: 12px;
        select {
          border: 0px;
          border-radius: 2px;
          background: #eee;

          -webkit-box-shadow: 1px 1px 1px 1px #757575;
          box-shadow: 1px 1px 1px 1px #757575;
        }
      }
      .completed {
        margin-left: auto;
      }
    }
  }
}
